:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  

  .dark-theme {
    --background-color: #2c3e50;
    --text-color: #ecf0f1;
  }
  
  


html {
    scroll-behavior: smooth; /* استایلی که حرکت در صفحه با هایپر لینک را نرم انجام می دهد*/ 
}

nav {
    background: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}


::placeholder{
    font-size: 20px;  /*  با این سلکتور تمام پلیس هولدررهای صفحه با فونت سایز 20پیکسل نمایش داده میشود */
}

.downloadkey,
.accesskey{
    width: 200px;
    height: 50px;
    display: block;
    /* background-color: aqua; */
    margin-top: 10px;
    text-align: center;
}

.progressBox{
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progressBox progress{
    width: 300px;
}
.progressBox meter{
    width: 300px;
}
.progressBox label{
   display: inline-block;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}





